<div class="control-group">
    <label class="control-label" for="choose">Backup Your CV</label>
    <select class="control-label" placeholder="Degree" name="draft" [(ngModel)]="draftID">
              <option value="select">select</option>
            <option *ngFor="let i of draft">{{i.draftID}}
            </option>
        </select>
        <button type="button" class="btn btn-primary" [disabled]="check.LoggedIn()" (click)="backup()">backup</button>
<div class="sel">
    <button type="button" class="btn btn-primary" [disabled]="!check.LoggedIn()" (click)="temp1()">Template1</button>
<button type="button" class="btn btn-primary" [disabled]="!check.LoggedIn()" (click)="temp2()">Template2</button>
<button type="button" class="btn btn-primary" [disabled]="!check.LoggedIn()" (click)="temp3()">Template3</button>
</div>
<div class="sel">
    <button type="button" class="btn btn-primary" [disabled]="!check.LoggedIn()" (click)="generatelink()">Generate Link and send to Email</button>
<button type="button" class="btn btn-primary" [disabled]="!check.LoggedIn()" (click)="temp2()">Template2</button>
<button type="button" class="btn btn-primary" [disabled]="!check.LoggedIn()" (click)="temp3()">Template3</button>
</div>

<div class="row">
    <div class="col-sm-12">
        <ul class="list-inline rating-list" 
            *ngFor="let star of stars" style="display: inline-block" >
              <li (click)="countStar(star)"
                  [ngClass]="{'selected': (star <= selectedValue)}">
                <i class="fa fa-star"></i>
              </li> 
        </ul>
    </div>
  </div>