<div class="container">
  <div class="title">Skill Set</div>
  
  <div class="content">
    <form action="#" (ngSubmit)="resumedata4()">
          
        
      <div class="user-details">
           
        <div class="input-box">
         <span class="details">Skill</span>
         <div *ngFor="let i of http.Resumedata.skills;let j=index"> 
         <input type="text"  placeholder="Enter your skill" name="skill{{j}}"  [(ngModel)]="i.skill" required>
       
         <div class="buttoner">
         <input type="button" value="Delete" (click)="del(i)"> 
          </div>
       </div>  
       <div class="buttoned">
         <input type="button" value="Add" (click)="insert()"> 
        </div>         
     </div>
      </div>
     <div class="user-details">
           
      <div class="input-box">
       <span class="details"> Language Skill</span>
       <div *ngFor="let i of http.Resumedata.languages;let j=index"> 
       <input type="text"  placeholder="Enter your Language" name="lang{{j}}"  [(ngModel)]="i.language" required>
     
     <div class="buttoner">
       <input type="button" value="Delete" (click)="del2(i)"> 
        </div>
     </div>  
     <div class="buttoned">
       <input type="button" value="Add" (click)="insert2()"> 
      </div>         
   </div>
                          

     
        
          
          </div>
          <div class="title">Other Details</div>
          <div class="user-details">
           
            <div class="input-box">
             
             <span class="details">Achievements</span>
             <input type="text"  placeholder="Enter your Achievements" [(ngModel)]="http.Resumedata.achievements"required>
           
                  
         </div>
          </div>
         
           

           
            
           
           
          <div class="button">
            <div><input type="submit" value="Next Page"></div>
            <!-- <div><input type="button" value="Back Page" ><a routerLink="form3"></a></div> 
             -->
          </div>
        
        </form>
      </div>
    </div>
